%h1 Listing albums

.gridster
  %ul
    - @albums.each_with_index do |album, i|
      %li{"data-row" => "1", "data-col" => i+1, "data-sizex" => "1", "data-sizey" => "1"}
        = image_tag album.cover
        %span.date= album.created_at.day


:javascript
  $(function() {
      $(".gridster ul").gridster({
          widget_margins: [0, 0],
          widget_base_dimensions: [120, 120]
      });
  });


/ %td= link_to 'Show', album
/ %td= link_to 'Edit', edit_album_path(album)
/ %td= link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }
/ 
/ = link_to 'New Album', new_album_path
