// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$default-text-shadow-color: rgba(black, 0.6)
$default-text-shadow-blur: 1px
$default-text-shadow-v-offset: 1px

#albums
  max-height: 300px
  max-width: 600px 
  overflow: auto
  
.facebox-albums
  padding: 0px !important

.empty
  width: 120px
  height: 120px
  position: relative
  top: -20px
  background: #2E323A

.no-day
  @extend .empty
  background: #515866

.gs_w
  border: 1px solid #aaa
  
.cover
  width: 60px
  display: inline-block
  
.album-detail
  max-width: 220px
  vertical-align: middle
  display: inline-block
  font-size: 11px
  
.date 
  +single-text-shadow
  font-family:  'Nixie One', cursive
  color: white
  width: 120px
  line-height: 60px
  position: absolute
  bottom: -8px
  right: 0px
  font-size: 60px
  text-align: right
  
.gridster ul li
  overflow: hidden